body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #333;
  font-family: "Poppins", sans-serif;
  background-image: url("Image.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  width: 100%;
  padding-right: 60px;
  padding-left: 40px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 40px;
  color: #00bfff;
  margin-bottom: 20px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  border-radius: 50%;
  left: 0;
  background-color: #00bfff;
}

.title::after {
  animation: pulse 1s linear infinite;
}

.message {
  color: #d93025;
  margin: 0;
  font-size: 14.5px;
}

.name-fields {
  display: flex;
  gap: 20px;
}

.form label {
  position: relative;
  flex: 1;
}

.form label .input,
.form label .checkbox-group {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 25px 15px 10px 15px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  font-size: 16px;
}

.form label .input + span,
.form label .checkbox-group + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 15px;
  top: 5px;
  font-size: 1em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span,
.form label .checkbox-group:placeholder-shown + span {
  top: 16px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span,
.form label .checkbox-group:focus + span,
.form label .checkbox-group:valid + span {
  color: #00bfff;
  top: 5px;
  font-size: 0.8em;
  font-weight: 600;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  position: relative;
  padding-top: 25px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 10px;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  background-color: #333;
}

.checkbox-group input[type="checkbox"] {
  accent-color: #00bfff;
  transform: scale(1.5);
  cursor: pointer;
}

.checkbox-group span.group-title {
  padding-bottom: 15px;
  color: #00bfff;
  position: absolute;
  left: 15px;
  top: -10px;
  font-size: 1em;
  cursor: text;
  transition: 0.3s ease;
  font-weight: 600;
}

.checkbox-group span {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}



.submit {
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  transform: 0.3s ease;
  background-color: #00bfff;
  cursor: pointer;
  margin-bottom: 10px;
}

.submit:hover {
  background-color: #00bfff96;
}

.signin {
  float: right;
  max-width: 320px;
  display: flex;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  gap: 0.75rem;
  color: #c4d2dc;
  background-color: #19242b;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0, 0.87, 0.12, 1);
}

.signin:hover {
  transform: scale(1.025);
}

.signin:active {
  transform: scale(0.975);
}

button svg {
  height: 24px;
  width: auto;
}

.email-signin {
  display: flex;
  align-items: center;
  gap: 50px;
}

.input.email {
  width: 100%;
}

.or-text {
  padding-left: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Use the color and font size that matches the rest of the text */
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .form {
    max-width: 85%;
    padding: 20px;
  }

  .name-fields {
    flex-direction: column;
    gap: 10px;
  }

  .email-signin {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .input.email {
    width: 100%;
  }

  .or-text {
    padding-left: 0;
  }

  .checkbox-group label {
    padding: 5px;
  }
}
